/* #offcanvasDarkNavbar {
    background: url('../jpg/body.png') no-repeat center center fixed;
    background-size: cover;
    opacity: 80%;
} */

/* фон карты */
body{
  background: radial-gradient(#202066, #474747);
  color: azure;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bolder;
  
  
  }
/* тень карт */
  .djambatron .card {
    background: none;
    border: 4px solid;
    border-radius: 25px 0 20px 0;
    
    min-height: 100%;
     background: url('../jpg/body.png') no-repeat;
     background-size: cover;
    border-color:   azure;
    filter: drop-shadow(16px 16px 20px rgb(99, 96, 96));
   border-width: 5px;
}
/* задний фон фото профиля  */
div .photoName {
    margin-top: 90px;
    background-size: cover;
    background: url('../jpg/body.png') no-repeat center ;
    /* background-size: 100%; */
    color: azure;  
}
/* фото профиля */
.photoName img {
     border-radius: 50%;
     border-color:   rgb(99, 96, 96);
    /* box-shadow: 10px 7px 5px rgb(99, 96, 96); */
     filter: drop-shadow(16px 16px 20px rgb(99, 96, 96));
    border-style: solid;
    border-width: 5px;
}
/* прелоадер */
.preloader {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    background: black;
    z-index: 100000;
  }
 
  .preloader_image {
    position: absolute;;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
    margin-top: -100px;
    margin-left: -100px;
    background: url('../jpg/giphy.gif') no-repeat 50% 50%;
    background-size: 200px;
  }
  .loader .preloader {
  display: none;
  color: #fff0ff;
    }
/* выравнивание текста  */
 p {
  text-align: justify;
 }   

 /* стиль при наведении ссылок */
 .tr-over {
    box-shadow: 3px 3px 2px rgba(240, 255, 255, 0.521);
    background-color: rgb(51, 51, 51);
    color: azure;
    border: none;
    
   }
   /* .a-over {
    border:1px solid azure;
    border-radius: 50%;
    
   } */
  /* наведение на карты */
 .shadowHowerCard {
        filter: drop-shadow(16px 16px 20px rgb(240, 255, 255));
      }

  .borerStylejambatron {
        border-width: 5px;
        border-style: solid;
        border-color:   rgb(99, 96, 96);
        filter: drop-shadow(16px 16px 20px rgb(99, 96, 96));
    
      }

input  {
  background-color: azure;
  font-weight: bold;
  color: black;
  border-radius: 50%;
}
.navbar-toggler {
  color: azure;
  border-color: azure;
  border-width: 1px;
  border-style: solid;
}
/* знакчек закрытия navbar */
/* .clorCloss {
  color: azure;
  border-color: azure;
  background-color: azure;
} */
.bodyhobbi  {
  min-height: 100%;
  background: url('../jpg/body.png') no-repeat center ;
  border-color: azure;
  border-width: 4px;
  border-style: solid;
  border-radius: 5px;
  backdrop-filter: blur(8px);
 
}
/* .active {
  color: azure;
  font-style: italic;

} */